body{
    background-image: linear-gradient(to bottom right,#e3e3e5,#6ca4ed,#b2b2b3);
    
    text-align: center;
    color:#102C57;
    font-family: 'Work Sans', sans-serif;
    
 }

img{
    height: 3rem;
    width: 3rem;
    margin:auto 3.125rem auto;
}
marquee{
    margin:6.25rem 1rem 6.25rem 4rem;
    min-width:12.5rem;
    max-width: 100rem;
}
p{
    margin:1.875rem;
}

a{
    text-decoration: none;
    color:#102C57; 
    padding: 0 2rem; 
}
a:hover{
    color:#F8DE22;
}
footer{
    text-align: center;
}
.card {
    /* rotate: -2deg; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    
  }
  
  .container {
    padding: 20px 16px;
  }
  .flex-container {
    display: flex;
}

.card {
    width: 50%;
    box-sizing: border-box;
    padding: 1rem;
    margin-right: 0;
}
.about-skill{
    padding:3.125rem 3.125rem 6.375rem ;
    min-width:12.5rem;
    margin: auto;
    font-weight: 900;
    line-height: 3;
    max-width: 53.125rem;
}
.name{
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 5em;
    font-weight: 900;
    padding-top: 6.25rem;
}
.my-pic{
    width:15.625rem;
    height:15.625rem;
    float:right;
    padding:4.375rem 12.5rem;
    
}
.name-row{
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    width:1.25rem;
    margin:6.25rem 18.75rem;

}
.skill-img{
    margin:0 3.125rem;
    width:9.375rem;
    height:9.375rem;
}
.skill-head{
    position: relative;
    bottom:1.25rem;
    font-size: 5em;
    font-weight: 900;
    display:inline;
    font-family: 'Caveat';
    margin: 0 auto;
}
.skill-sec{
    margin:3.125rem;
    padding:3.125rem;
    background-color: #CEE6F3;
    font-size: 1.15rem;
}
.skills-col{
    column-count: auto ;
    column-width: 11rem;
    margin:auto;
    min-width:12.5rem;
    max-width: 53.125rem;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    font-weight: 900;
    padding:4rem 6.25rem 0;
    text-align: center;
}
.top-col{
    margin-top:0px;
}
.hover-1:hover{
    color:#00C4FF;
}
.gif{
    border-radius: 50%;
}
.link-1{
    text-align: left;
    line-height: 2;
    margin:0;
}
.project-row{
    text-align: justify;
}