body{
    background-color: #D8D9DA;
    text-align: center;
    color:#102C57;
    font-family: 'Work Sans', sans-serif;
}
img{
    height: 2rem;
    width: 2rem;
    margin:auto 50px auto;
}
marquee{
    width:1200px;
    margin:100px 150px 100px;
    margin:0;
}
p{
    margin:30px;
}
a{
    text-decoration: none;
    color:#102C57; 
    padding: 0 50px; 
}
a:hover{
    color:#00C4FF;
}
.about-skill{
    padding:50px  50px;
    width:850px;
    margin: auto;
    font-weight: 900;
}
.name{
    font-family: 'Caveat', cursive;
    font-size: 5em;
    font-weight: 900;
    padding-top: 100px;
}
.my-pic{
    width:200px;
    height:200px;
    border-radius: 25%;
    float:right;
    padding:70px 200px;
    
}

.name-row{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    width:20px;
    margin:100px 300px;

}
.skill-img{
    margin:0px;
    width:100px;
    height:100px;
}
.skill-head{
    position: relative;
    bottom:20px;
    font-size: 5em;
    font-weight: 900;
    display:inline;
    font-family: 'Caveat', cursive;
}
.skill-sec{
    margin:50px;
    padding:50px;
    background-color: #CEE6F3;
}
.skills-col{
    column-count:4 ;
    column-span: all;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    font-weight: 900;
    padding:100px;
}
.top-col{
    margin-top:0px;
}
.hover-1:hover{
    color:#00C4FF;

}